body {
  background-color: #eee;
}

.caja {
  margin: 8px;
  padding: 8px;
  border-style: solid dotted dashed;
  border-width: 8px;
  border-color: #faa;
  border-left: 16px solid #afa;
  background-color: #aaf;
  border-radius: 8px;
  height: 50px;
  width: 100px;
  color: #575;
}

.caballo {
  margin: 8px;
  padding: 8px;
}

pr {
  color: #afa;
  background-color: #faa;
}
